<h1>Restaurants list</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant)
    %>
    </li>
  <% end %>
</div>

<%= link_to "Add a Restaurant to the list", new_restaurant_path, class: "btn btn-primary" %>
