<h1 class="text-center">Restaurants list</h1>

<div class="container">
  <%= render "restaurants/list", restaurants: @restaurants %>
</div>

<div class="text-center mt-4">
<%= link_to "Add a Restaurant to the list", new_restaurant_path, class: "btn btn-primary" %>
</div>
